@model Bookshop.Models.Author
@{
    ViewData["Title"] = "Upsert";
    bool IsCreate = Model.Id == 0 ? true : false;
}


<form asp-controller="Author" asp-action="Upsert" method="post" enctype="multipart/form-data">
    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
    <div class="row">
        <div class="col-md-8">
            <input type="hidden" asp-for="@Model.Id" hidden />
            <div class="mb-3 row">
                <label asp-for="@Model.Name" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" asp-for="@Model.Name">
                </div>
            </div>
            <div class="mb-3 row">
                <label asp-for="@Model.Description" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <textarea class="form-control" rows="7" asp-for="@Model.Description"></textarea>
                </div>
            </div>
            <div class="mb-3 row">
                <label asp-for="@Model.Image" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input class="form-control" type="file" accept="image/*" name="files" multiple asp-for="Image">
                </div>
            </div>
            <div class="mb-3 row">
                <div class="col-2"></div>
                <div class="col-10">
                    <div class="row">
                        <div class="col d-grid"><a asp-controller="Author" asp-action="Index" class="btn btn-dark">Back</a></div>
                        <div class="col d-grid">
                            @if (IsCreate)
                            {
                                <button type="submit" class="btn btn-success">Add</button>
                            }
                            else
                            {
                                <button type="submit" class="btn btn-primary">Edit</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            @if (Model.Image is not null)
            {
                <img src="@WC.ImagePathAuthor@Model.Image" class="img-fluid rounded w-100" asp-append-version="true" />
            }
        </div>
    </div>
</form>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />

}